# Created by https://www.gitignore.io/api/ansible

### Ansible ###
ansible/*.retry
ansible/roles/*.*
!ansible/roles/.gitkeep
!ansible/roles/ansible-role-*
# End of https://www.gitignore.io/api/ansible
